.top-link-bar ul {
    text-align: right;
    padding: 25px;
    list-style: none;
    position: relative;
    text-align: center;
}
.top-link-bar ul li {
    font-size: 35px;
    display: inline-block;
    padding: 25px;
    
}