* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
}

.top-link-bar ul {
  text-align: right;
  padding: 25px;
  list-style: none;
  position: relative;
  text-align: center;
}
.top-link-bar ul li {
  font-size: 35px;
  display: inline-block;
  padding: 25px;
  
}

#profiletitle {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width:800px) {
    body{
        width:100%;
    }
}

#livestreams a {
  display: inline-block;
  padding: 25px;
  margin: 10px;
  border: solid;
  
}
#otherprofile {
  display: inline-block;
  padding: 25px;
  margin: 10px;
  border: solid;
}
.livestream {
  display: inline-block;
  padding: 25px;
  margin: 10px;
  border: solid;
  
}
.stream-container {
  width: 100%;
  position: relative;
  margin: 1.5% auto;
}

#video-container {

}

video {
  background: gray;
  border: 2px solid green;
}

#localVideo, #remoteVideo {
  width: 50%;
  margin: 0 auto;
}

#admin-button-container {

}
#viewer-button-container {

}
#goliveBtn, #spawnBtn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#endliveBtn, #endotherliveBtn {
  margin: 0 auto;
}

#watch-streamBtn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
