* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Exarros;
   src: url(../resources/fonts/Exarros-GOn9q.ttf);
}
body {
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
}
header {
  background-color: black;
  padding: 20px 0;
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

#login-header {
  height: 12%;
}

.login-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  margin: 8% auto;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #555;
  text-align: left;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 95%;
}

.main-btn {
  background-color: #8F00FF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4e0287;
}

.hidden {
  display: none;
}

.top-link-bar ul {
  text-align: right;
  padding: 25px;
  list-style: none;
  position: relative;
  text-align: center;
}
.top-link-bar ul li {
  font-size: 35px;
  display: inline-block;
  padding: 0 25px;
  
}
.top-link-bar li a {
  color: white;
}
.top-link-bar li a:hover {
  color: lime;
}
#homepage {
  margin-bottom: 50px;
}
#infopage {
  margin-bottom: 50px;
}
#home-icon.active {
  color: lime;
}
#profile-icon.active {
  color: lime;
}
#info-icon.active {
  color: lime;
}
#profiletitle {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

#livestreams a {
  display: inline-block;
  font-size: 35px;
  padding: 25px;
  margin: 10px;
  border: solid;
  text-decoration: none;
  
}
#getstreamsbtn {
  margin: 25px;
}
#otherprofile {
  display: inline-block;
  padding: 25px;
  margin: 10px;
  border: solid;
}
.livestream {
  display: inline-block;
  padding: 25px;
  margin: 10px;
  border: solid;
  
}
.stream-container {
  width: 100%;
  position: relative;
  margin: 1.5% auto;
}

video {
  background: gray;
  border: 2px solid green;
}

#localVideo, #remoteVideo {
  width: 50%;
  margin: 0 auto;
}
#video-container {
  position: relative;
}
#videoicons {
  position: absolute;
  bottom: 0;
  right: 25%;
  font-size: 25px;  
}
#videoicons a {
text-decoration: none;
}
#videoicons i {
  color: #000;
  display: block;
  opacity: .25;
}
#videoicons i:hover {
  opacity: .75;
}
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 500px; /* Responsive width */
  background-color: white;
  
  /* Center the modal */
  top: 50%;
  transform: translateY(-50%);
  background-color: #fefefe;
  width: 35%;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.custom-select {
  position: relative;
  margin: 0 auto;
  
}
.custom-select select {
  background-color: white; 
  font-size: 18px;
  color: black;
  width: 200px;
  text-align: center;
  margin: 20px 0;
}

.custom-select option {
  font-size: 18px;
  
}

#goliveBtn, #spawnBtn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#endliveBtn, #endotherliveBtn {
  margin: 15px auto;
}

#watch-streamBtn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cph2 {
  margin-bottom: 25px;
}

.control-panel-outputs {
  width: 100%;
}
#deviceinfo {
  font-style: italic;
}
#reset-Btn {
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 25px;
}

#reset-Btn:hover {
  background-color: darkblue;
}
#connectcontroller-Btn {
  display: none;
}
#disconnectdevice-Btn {
  margin: 0 auto;
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
#disconnectdevice-Btn:hover {
  background-color: red;
}
.bottom-control-panel {
  text-align: center;
}
#control-panel {
  margin-bottom: 50px;
}

.arrow-container-host {
  display: inline-block;
  padding: 25px;
  
}
.arrow-container-remote {
  display: inline-block;
  padding: 25px;
  
}
.arrow-buttons {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(3, 50px);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: #0056b3;
}

.up {
  grid-column: 2;
}

.left {
  grid-column: 1;
  grid-row: 2;
}

.right {
  grid-column: 3;
  grid-row: 2;
}

.down {
  grid-column: 2;
  grid-row: 3;
}


footer {
  background-color: black;
  color: #fff;
  padding: 60px 0;
  font-size: 20px;
  text-align: left;
  
}

.footer-container {
  width: 80%;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo-name {
  font-family: Exarros;
  font-size: 30px;
  margin-bottom: 20px;
}

.footer-links h3,
.footer-social h3 {
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  text-align: center;
}

.footer-links ul li,
.footer-social ul li {
  margin-bottom: 10px;
}

.footer-links ul li a,
.footer-social ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  
}

.footer-links ul li a:hover,
.footer-social ul li a:hover {
  color: lime;
}

.footer-social ul li {
  display: inline;
  margin-right: 10px;
}

.footer-social ul li:last-child {
  margin-right: 0;
}
#login-title {
  font-size: 60px;
}
#login-page {
  height: 800px;
}
@media screen and (max-width:600px) {
  body {
    font-size: 16px;
  }
  .login-container {
    width: 250px;
  }
  #login-header {
    height: 5%;
  }
  #login-title {
    font-size: 2.5em;
  }
  #localVideo, #remoteVideo {
    width: 100%;
  }
  #videoicons {
    right: 0;
  }
  .footer-links {
    display: none;
  }
  .footer-social {
    padding-left: 10px;
  }
  .login-container {
    width: 70%;
  }
  #login-page {
    height: 600px;
  }
  .stream-container {
    margin-bottom: 25px;
  }
  .modal-content {
    width: auto;
  }
  
}